#outsidetable{
    margin-left: 50%;
}
#title{
    margin-left: 36%;
    color:black;
    text-shadow: 2px;
    font-size:70px;
}
.totaltext{
    display: block;
    margin-left: 46%;
    font-size:x-large;
}
.solution{
    margin: 20px 2px 0px 20px;
    display: inline-block;
}
@media only screen and (max-width: 990px) {
    .totaltext{
        margin-left: 30%;
    }
    #title{
        margin-left: 25%;
        font-size: 40px;
    }

}
@media only screen and (max-width: 420px) {
    #title{
        margin-left: 20%;
        font-size: 30px;
    }
    .totaltext{
        margin-left: 20%;
    }
  }
